/* Navigation */
header {
    display: flex;
    background-color: cadetblue;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: none;
        font-family: "Bokor", system-ui;
        color: rgb(223, 214, 214);
        font-weight: lighter;
        font-size: 40;
        
    }
    :hover {
            color: black;
            text-decoration: underline;
        }
    nav {
        display: flex;
        gap: 20px;
        list-style: none;
        a {
            font-family: "Dancing Script", cursive;
            font-weight: bold;
            font-size: large;
            color: rgb(223, 214, 214);
            cursor: pointer; 
            text-decoration: none;
        }
    }
}

/* Home Page */
#Home {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
}
    .brand-name {
        h1 {
            font-family: "Underdog", system-ui;
            font-size: 150px;
        }
        p {
            font-family: "Dancing Script", cursive;
            font-weight: bolder;
            font-size: xx-large;
            position: relative;
            bottom: 130px;
            left: 600px;
        }
    }
    .first-button {
        position: relative;
        top: 250px;
    }
    .click {
        font-family: "Roboto Slab", serif;
        font-size: large;
        font-weight: bolder;
        padding: 15px;
        width: 150px;
        border-radius: 20px;
        border: 2px solid cadetblue;
        background-color: cadetblue;
        cursor: pointer;
    }
    .click:hover {
        border: 2px solid cadetblue;
        background-color: white;
        color: cadetblue;
    }

/* Showcase */
.showcase {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 80vh;
    align-items: center;
    img {
        width: 400px;
        height:500px;
        border: 2px solid whitesmoke;
        border-radius: 50px;
        box-shadow: 4px 8px 10px cadetblue;
    }
}

/* Shop*/
#shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    padding: 50px;
    background-color: rgb(223, 214, 214);
    h2 span {
        color: cadetblue;
    }
}
    .stock {
        display: flex;
        justify-content: space-around;
        border: 5px solid black;
        border-radius: 20px;
        gap: 30px;
        padding: 50px;
        overflow-y: auto;
        overflow-x: visible;
        scroll-behavior: auto;
        img {
            width: 300px;
            height: 400px;
            border-radius: 20px;
        }
    }
    .items {
        border: 2px solid cadetblue;
        border-radius: 20px;
        box-shadow: 0 4px 8px black;
        span {
            color: cadetblue;
            font-family: "Dancing Script", cursive;
            font-weight: bold;
            font-size: large;
        }
    }

/* About Us*/
#About {
    display: flex;
    height: 50vh;
    line-height: 1;
    align-items: center;
    align-content: space-around;
    background-color: darkslategrey;
}
    .about-image {
        width: 40%;
        text-align: right;
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            box-shadow: 0 0 50px white;
        }
    }
    .about-text {
        width: 60%;
        padding: 100px;
        h1{
            font-family: "Bokor", system-ui;
            font-weight: 700;
            font-size: xx-large;
            box-shadow: -5px 5px  white;
        }
        h3 {
            font-family: "Praise", cursive;
            font-weight: lighter;
            font-size: 30;
            color: white;
            
        }
    }

/* Footer */
footer {
    background: black;
    color: gray;
    text-align: center;
    display: flex;
    justify-content: space-around;
    a {
        color: gray;
        text-decoration: none;
    }
    :hover {
        color: white;
        text-decoration: underline;
    }
}